{% extends 'tours/base.html' %}
{% block main %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departure_name }}</h1>
    <p class="mb-4">Найдено {{ filtered_tours|length }} тура, от {{ min_price }} до {{ max_price }} и от {{ min_nights }} ночей до
      {{ max_nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for tour_id, tour_info in filtered_tours.items %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
          <img src="{{ tour_info.picture }}" class="card-img-top embed-responsive-item" alt="">
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour_info.title }}</h2>
            <p class="card-text">{{ tour_info.description|truncatechars:60 }}</p>
            <a href={% url 'tour' tour_id %} class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
